@layer base {
  :root {
    --primary-hue: 25;
    --primary-saturation: 95%;
    --secondary-hue: 329;
    --secondary-saturation: 80%;
    --accent-hue: 329;
    --accent-saturation: 80%;
    --skin-hue: 223;
    --skin-saturation: 11.5%;
    --scroll-width: 0.5rem;
  }
  /* light theme colors */
  .light {
    --text-white: var(--skin-hue), var(--skin-saturation), 100%;
    --text-black: var(--skin-hue), var(--skin-saturation), 20%;

    --primary-50: var(--primary-hue), var(--primary-saturation), 95%;
    --primary-100: var(--primary-hue), var(--primary-saturation), 90%;
    --primary-200: var(--primary-hue), var(--primary-saturation), 85%;
    --primary-300: var(--primary-hue), var(--primary-saturation), 80%;
    --primary-400: var(--primary-hue), var(--primary-saturation), 70%;
    --primary-500: var(--primary-hue), var(--primary-saturation), 60%;
    --primary-600: var(--primary-hue), var(--primary-saturation), 50%;
    --primary-700: var(--primary-hue), var(--primary-saturation), 40%;
    --primary-800: var(--primary-hue), var(--primary-saturation), 30%;
    --primary-900: var(--primary-hue), var(--primary-saturation), 20%;

    --secondary-50: var(--secondary-hue), var(--secondary-saturation), 95%;
    --secondary-100: var(--secondary-hue), var(--secondary-saturation), 90%;
    --secondary-200: var(--secondary-hue), var(--secondary-saturation), 85%;
    --secondary-300: var(--secondary-hue), var(--secondary-saturation), 80%;
    --secondary-400: var(--secondary-hue), var(--secondary-saturation), 70%;
    --secondary-500: var(--secondary-hue), var(--secondary-saturation), 60%;
    --secondary-600: var(--secondary-hue), var(--secondary-saturation), 50%;
    --secondary-700: var(--secondary-hue), var(--secondary-saturation), 40%;
    --secondary-800: var(--secondary-hue), var(--secondary-saturation), 30%;
    --secondary-900: var(--secondary-hue), var(--secondary-saturation), 20%;

    --accent-50: var(--accent-hue), var(--accent-saturation), 95%;
    --accent-100: var(--accent-hue), var(--accent-saturation), 90%;
    --accent-200: var(--accent-hue), var(--accent-saturation), 85%;
    --accent-300: var(--accent-hue), var(--accent-saturation), 80%;
    --accent-400: var(--accent-hue), var(--accent-saturation), 70%;
    --accent-500: var(--accent-hue), var(--accent-saturation), 60%;
    --accent-600: var(--accent-hue), var(--accent-saturation), 50%;
    --accent-700: var(--accent-hue), var(--accent-saturation), 40%;
    --accent-800: var(--accent-hue), var(--accent-saturation), 30%;
    --accent-900: var(--accent-hue), var(--accent-saturation), 20%;

    --skin-50: var(--skin-hue), var(--skin-saturation), 100%;
    --skin-100: var(--skin-hue), var(--skin-saturation), 95%;
    --skin-200: var(--skin-hue), var(--skin-saturation), 90%;
    --skin-300: var(--skin-hue), var(--skin-saturation), 80%;
    --skin-400: var(--skin-hue), var(--skin-saturation), 70%;
    --skin-500: var(--skin-hue), var(--skin-saturation), 60%;
    --skin-600: var(--skin-hue), var(--skin-saturation), 50%;
    --skin-700: var(--skin-hue), var(--skin-saturation), 40%;
    --skin-800: var(--skin-hue), var(--skin-saturation), 30%;
    --skin-900: var(--skin-hue), var(--skin-saturation), 20%;
    --skin-zebra: var(--skin-hue), var(--skin-saturation), 98%;

    /* light theme syntax colors */
    --tab-size: 2;
    --code-bg: #f3f4f6;
    --code-fill: #f3f4f6;
    --code-normal: #333333; /*hsl(45, 7%, 45%)*/
    --code-string: hsl(41, 37%, 45%); /*#183691 */
    --code-number: hsl(102, 27%, 50%); /* #0086b3;*/
    --code-atrule: var(--code-string);
    --code-keyword: hsl(204, 58%, 45%); /* #795da3;*/
    --code-comment: #969896; /*hsl(210, 25%, 60%)*/
    --code-property: #63a35c;
    --code-selector: var(--code-keyword);
    --code-operator: hsl(19, 67%, 45%);
    --code-function: hsl(19, 67%, 45%); /* #a71d5d; */

    --code-gutter-marker: black;
    --code-gutter-subtle: #999;
    --code-cursor: #24292e;
    --code-cursor-block: rgba(20, 255, 20, 0.5);
    --code-linenumbers: rgba(27, 31, 35, 0.3);
  }

  /* dark theme colors */
  .dark {
    --text-white: var(--skin-hue), var(--skin-saturation), 20%;
    --text-black: var(--skin-hue), var(--skin-saturation), 100%;

    --primary-50: var(--primary-hue), var(--primary-saturation), 20%;
    --primary-100: var(--primary-hue), var(--primary-saturation), 30%;
    --primary-200: var(--primary-hue), var(--primary-saturation), 40%;
    --primary-300: var(--primary-hue), var(--primary-saturation), 50%;
    --primary-400: var(--primary-hue), var(--primary-saturation), 60%;
    --primary-500: var(--primary-hue), var(--primary-saturation), 70%;
    --primary-600: var(--primary-hue), var(--primary-saturation), 80%;
    --primary-700: var(--primary-hue), var(--primary-saturation), 85%;
    --primary-800: var(--primary-hue), var(--primary-saturation), 90%;
    --primary-300: var(--primary-hue), var(--primary-saturation), 95%;

    --secondary-50: var(--secondary-hue), var(--secondary-saturation), 20%;
    --secondary-100: var(--secondary-hue), var(--secondary-saturation), 30%;
    --secondary-200: var(--secondary-hue), var(--secondary-saturation), 40%;
    --secondary-300: var(--secondary-hue), var(--secondary-saturation), 50%;
    --secondary-400: var(--secondary-hue), var(--secondary-saturation), 60%;
    --secondary-500: var(--secondary-hue), var(--secondary-saturation), 70%;
    --secondary-600: var(--secondary-hue), var(--secondary-saturation), 80%;
    --secondary-700: var(--secondary-hue), var(--secondary-saturation), 85%;
    --secondary-800: var(--secondary-hue), var(--secondary-saturation), 90%;
    --secondary-900: var(--secondary-hue), var(--secondary-saturation), 95%;

    --accent-50: var(--accent-hue), var(--accent-saturation), 20%;
    --accent-100: var(--accent-hue), var(--accent-saturation), 30%;
    --accent-200: var(--accent-hue), var(--accent-saturation), 40%;
    --accent-300: var(--accent-hue), var(--accent-saturation), 50%;
    --accent-400: var(--accent-hue), var(--accent-saturation), 60%;
    --accent-500: var(--accent-hue), var(--accent-saturation), 70%;
    --accent-600: var(--accent-hue), var(--accent-saturation), 80%;
    --accent-700: var(--accent-hue), var(--accent-saturation), 85%;
    --accent-800: var(--accent-hue), var(--accent-saturation), 90%;
    --accent-900: var(--accent-hue), var(--accent-saturation), 95%;

    --skin-50: var(--skin-hue), var(--skin-saturation), 20%;
    --skin-100: var(--skin-hue), var(--skin-saturation), 25%;
    --skin-200: var(--skin-hue), var(--skin-saturation), 30%;
    --skin-300: var(--skin-hue), var(--skin-saturation), 40%;
    --skin-400: var(--skin-hue), var(--skin-saturation), 50%;
    --skin-500: var(--skin-hue), var(--skin-saturation), 60%;
    --skin-600: var(--skin-hue), var(--skin-saturation), 70%;
    --skin-700: var(--skin-hue), var(--skin-saturation), 80%;
    --skin-800: var(--skin-hue), var(--skin-saturation), 90%;
    --skin-900: var(--skin-hue), var(--skin-saturation), 100%;
    --skin-zebra: var(--skin-hue), var(--skin-saturation), 22%;

    /* dark theme syntax colors */
    --code-bg: #282c34;
    --code-fill: #282c34;
    --code-normal: #e06c75; /*#ABB2BF;*/
    --code-string: #98c379;
    --code-number: #d19a66;
    --code-atrule: #61afef;
    --code-keyword: #c678dd;
    --code-comment: #5c6370;
    --code-property: #d19a66;
    --code-selector: #e06c75;
    --code-operator: #56b6c2;
    --code-function: #61afef;
  }

  @media (prefers-color-scheme: light) {
    body:not(.dark) {
      --text-white: var(--skin-hue), var(--skin-saturation), 100%;
      --text-black: var(--skin-hue), var(--skin-saturation), 20%;

      --primary-50: var(--primary-hue), var(--primary-saturation), 95%;
      --primary-100: var(--primary-hue), var(--primary-saturation), 90%;
      --primary-200: var(--primary-hue), var(--primary-saturation), 85%;
      --primary-300: var(--primary-hue), var(--primary-saturation), 80%;
      --primary-400: var(--primary-hue), var(--primary-saturation), 70%;
      --primary-500: var(--primary-hue), var(--primary-saturation), 60%;
      --primary-600: var(--primary-hue), var(--primary-saturation), 50%;
      --primary-700: var(--primary-hue), var(--primary-saturation), 40%;
      --primary-800: var(--primary-hue), var(--primary-saturation), 30%;
      --primary-900: var(--primary-hue), var(--primary-saturation), 20%;

      --secondary-50: var(--secondary-hue), var(--secondary-saturation), 95%;
      --secondary-100: var(--secondary-hue), var(--secondary-saturation), 90%;
      --secondary-200: var(--secondary-hue), var(--secondary-saturation), 85%;
      --secondary-300: var(--secondary-hue), var(--secondary-saturation), 80%;
      --secondary-400: var(--secondary-hue), var(--secondary-saturation), 70%;
      --secondary-500: var(--secondary-hue), var(--secondary-saturation), 60%;
      --secondary-600: var(--secondary-hue), var(--secondary-saturation), 50%;
      --secondary-700: var(--secondary-hue), var(--secondary-saturation), 40%;
      --secondary-800: var(--secondary-hue), var(--secondary-saturation), 30%;
      --secondary-900: var(--secondary-hue), var(--secondary-saturation), 20%;

      --accent-50: var(--accent-hue), var(--accent-saturation), 95%;
      --accent-100: var(--accent-hue), var(--accent-saturation), 90%;
      --accent-200: var(--accent-hue), var(--accent-saturation), 85%;
      --accent-300: var(--accent-hue), var(--accent-saturation), 80%;
      --accent-400: var(--accent-hue), var(--accent-saturation), 70%;
      --accent-500: var(--accent-hue), var(--accent-saturation), 60%;
      --accent-600: var(--accent-hue), var(--accent-saturation), 50%;
      --accent-700: var(--accent-hue), var(--accent-saturation), 40%;
      --accent-800: var(--accent-hue), var(--accent-saturation), 30%;
      --accent-900: var(--accent-hue), var(--accent-saturation), 20%;

      --skin-50: var(--skin-hue), var(--skin-saturation), 100%;
      --skin-100: var(--skin-hue), var(--skin-saturation), 95%;
      --skin-200: var(--skin-hue), var(--skin-saturation), 90%;
      --skin-300: var(--skin-hue), var(--skin-saturation), 80%;
      --skin-400: var(--skin-hue), var(--skin-saturation), 70%;
      --skin-500: var(--skin-hue), var(--skin-saturation), 60%;
      --skin-600: var(--skin-hue), var(--skin-saturation), 50%;
      --skin-700: var(--skin-hue), var(--skin-saturation), 40%;
      --skin-800: var(--skin-hue), var(--skin-saturation), 30%;
      --skin-900: var(--skin-hue), var(--skin-saturation), 20%;
      --skin-zebra: var(--skin-hue), var(--skin-saturation), 98%;

      /* light theme syntax colors */
      --tab-size: 2;
      --code-bg: #f3f4f6;
      --code-fill: #f3f4f6;
      --code-normal: #333333; /*hsl(45, 7%, 45%)*/
      --code-string: hsl(41, 37%, 45%); /*#183691 */
      --code-number: hsl(102, 27%, 50%); /* #0086b3;*/
      --code-atrule: var(--code-string);
      --code-keyword: hsl(204, 58%, 45%); /* #795da3;*/
      --code-comment: #969896; /*hsl(210, 25%, 60%)*/
      --code-property: #63a35c;
      --code-selector: var(--code-keyword);
      --code-operator: hsl(19, 67%, 45%);
      --code-function: hsl(19, 67%, 45%); /* #a71d5d; */

      --code-gutter-marker: black;
      --code-gutter-subtle: #999;
      --code-cursor: #24292e;
      --code-cursor-block: rgba(20, 255, 20, 0.5);
      --code-linenumbers: rgba(27, 31, 35, 0.3);
    }
  }

  @media (prefers-color-scheme: dark) {
    body:not(.light) {
      --text-white: var(--skin-hue), var(--skin-saturation), 20%;
      --text-black: var(--skin-hue), var(--skin-saturation), 100%;

      --primary-50: var(--primary-hue), var(--primary-saturation), 20%;
      --primary-100: var(--primary-hue), var(--primary-saturation), 30%;
      --primary-200: var(--primary-hue), var(--primary-saturation), 40%;
      --primary-300: var(--primary-hue), var(--primary-saturation), 50%;
      --primary-400: var(--primary-hue), var(--primary-saturation), 60%;
      --primary-500: var(--primary-hue), var(--primary-saturation), 70%;
      --primary-600: var(--primary-hue), var(--primary-saturation), 80%;
      --primary-700: var(--primary-hue), var(--primary-saturation), 85%;
      --primary-800: var(--primary-hue), var(--primary-saturation), 90%;
      --primary-300: var(--primary-hue), var(--primary-saturation), 95%;

      --secondary-50: var(--secondary-hue), var(--secondary-saturation), 20%;
      --secondary-100: var(--secondary-hue), var(--secondary-saturation), 30%;
      --secondary-200: var(--secondary-hue), var(--secondary-saturation), 40%;
      --secondary-300: var(--secondary-hue), var(--secondary-saturation), 50%;
      --secondary-400: var(--secondary-hue), var(--secondary-saturation), 60%;
      --secondary-500: var(--secondary-hue), var(--secondary-saturation), 70%;
      --secondary-600: var(--secondary-hue), var(--secondary-saturation), 80%;
      --secondary-700: var(--secondary-hue), var(--secondary-saturation), 85%;
      --secondary-800: var(--secondary-hue), var(--secondary-saturation), 90%;
      --secondary-900: var(--secondary-hue), var(--secondary-saturation), 95%;

      --accent-50: var(--accent-hue), var(--accent-saturation), 20%;
      --accent-100: var(--accent-hue), var(--accent-saturation), 30%;
      --accent-200: var(--accent-hue), var(--accent-saturation), 40%;
      --accent-300: var(--accent-hue), var(--accent-saturation), 50%;
      --accent-400: var(--accent-hue), var(--accent-saturation), 60%;
      --accent-500: var(--accent-hue), var(--accent-saturation), 70%;
      --accent-600: var(--accent-hue), var(--accent-saturation), 80%;
      --accent-700: var(--accent-hue), var(--accent-saturation), 85%;
      --accent-800: var(--accent-hue), var(--accent-saturation), 90%;
      --accent-900: var(--accent-hue), var(--accent-saturation), 95%;

      --skin-50: var(--skin-hue), var(--skin-saturation), 20%;
      --skin-100: var(--skin-hue), var(--skin-saturation), 25%;
      --skin-200: var(--skin-hue), var(--skin-saturation), 30%;
      --skin-300: var(--skin-hue), var(--skin-saturation), 40%;
      --skin-400: var(--skin-hue), var(--skin-saturation), 50%;
      --skin-500: var(--skin-hue), var(--skin-saturation), 60%;
      --skin-600: var(--skin-hue), var(--skin-saturation), 70%;
      --skin-700: var(--skin-hue), var(--skin-saturation), 80%;
      --skin-800: var(--skin-hue), var(--skin-saturation), 90%;
      --skin-900: var(--skin-hue), var(--skin-saturation), 100%;
      --skin-zebra: var(--skin-hue), var(--skin-saturation), 22%;

      /* one dark theme syntax colors */
      --code-bg: #282c34;
      --code-fill: #282c34;
      --code-normal: #e06c75; /*#ABB2BF;*/
      --code-string: #98c379;
      --code-number: #d19a66;
      --code-atrule: #61afef;
      --code-keyword: #c678dd;
      --code-comment: #5c6370;
      --code-property: #d19a66;
      --code-selector: #e06c75;
      --code-operator: #56b6c2;
      --code-function: #61afef;
    }
  }
}
