@layer base {
  :root {
    --scroll-width: 0.5rem;
  }
  /* light theme colors */
  [data-mode='light'] {
    @apply rokkit-mode-light;
  }
  @media (prefers-color-scheme: dark) {
    body:not([data-mode='light']) {
      @apply rokkit-mode-dark;
    }
  }

  /* dark theme colors */
  [data-mode='dark'] {
    @apply rokkit-mode-dark;
  }

  @media (prefers-color-scheme: light) {
    body:not([data-mode='dark']) {
      @apply rokkit-mode-light;
    }
  }
}
