input-field {
	@apply text-skin-800 border-b border-skin-600;
}
input-field > input,
input-field > field > input {
	@apply leading-loose px-2 outline-none box-border bg-transparent;
}
input-field:focus-within {
	@apply border-b-2 border-secondary;
}
input-field:focus-within > label {
	@apply text-secondary;
}

input-field > field {
	@apply px-1;
}
input-field > label.required::after {
	content: '*';
	@apply state-danger;
}
