@layer base {
  :root {
    --primary-hue: 138;
    --primary-saturation: 76%;
    --secondary-hue: 329;
    --secondary-saturation: 80%;
    --accent-hue: 329;
    --accent-saturation: 80%;
    --neutral-hue: 210;
    --neutral-saturation: 40%;
    --scroll-width: 0.5rem;
  }
  /* light theme colors */
  .sea-green.light {
    --primary-50: 138, 76%, 98%;
    --primary-100: 141, 84%, 93%;
    --primary-200: 141, 79%, 85%;
    --primary-300: 142, 77%, 73%;
    --primary-400: 142, 69%, 58%;
    --primary-500: 142, 71%, 45%;
    --primary-600: 142, 76%, 36%;
    --primary-700: 142, 72%, 29%;
    --primary-800: 143, 64%, 24%;
    --primary-900: 144, 61%, 20%;
    --primary-950: 145, 80%, 10%;

    --secondary-50: 214, 100%, 97%;
    --secondary-100: 214, 95%, 93%;
    --secondary-200: 213, 97%, 87%;
    --secondary-300: 212, 96%, 78%;
    --secondary-400: 213, 94%, 68%;
    --secondary-500: 217, 91%, 60%;
    --secondary-600: 221, 83%, 53%;
    --secondary-700: 224, 76%, 48%;
    --secondary-800: 226, 71%, 40%;
    --secondary-900: 224, 64%, 33%;
    --secondary-950: 226, 57%, 21%;

    --accent-50: 327, 73%, 97%;
    --accent-100: 326, 78%, 95%;
    --accent-200: 326, 85%, 90%;
    --accent-300: 327, 87%, 82%;
    --accent-400: 329, 86%, 70%;
    --accent-500: 330, 81%, 60%;
    --accent-600: 333, 71%, 51%;
    --accent-700: 335, 78%, 42%;
    --accent-800: 336, 74%, 35%;
    --accent-900: 336, 69%, 30%;
    --accent-950: 336, 84%, 17%;

    --neutral-50: 210, 40%, 98%;
    --neutral-100: 210, 40%, 96%;
    --neutral-200: 214, 32%, 91%;
    --neutral-300: 213, 27%, 84%;
    --neutral-400: 215, 20%, 65%;
    --neutral-500: 215, 16%, 47%;
    --neutral-600: 215, 19%, 35%;
    --neutral-700: 215, 25%, 27%;
    --neutral-800: 217, 33%, 17%;
    --neutral-900: 222, 47%, 11%;
    --neutral-950: 229, 84%, 5%;
    --neutral-zebra: 210, 40%, 97%;

    --text-white: 210, 40%, 100%;
    --text-black: 217, 33%, 20%;

    /* light theme syntax colors */
    --tab-size: 2;
    --code-bg: #f3f4f6;
    --code-fill: #f3f4f6;
    --code-normal: #333333; /*hsl(45, 7%, 45%)*/
    --code-string: hsl(41, 37%, 45%); /*#183691 */
    --code-number: hsl(102, 27%, 50%); /* #0086b3;*/
    --code-atrule: var(--code-string);
    --code-keyword: hsl(204, 58%, 45%); /* */
    --code-comment: #969896;
    --code-property: #63a35c;
    --code-selector: var(--code-keyword);
    --code-operator: hsl(19, 67%, 45%);
    --code-function: hsl(19, 67%, 45%); /* #a71d5d; */

    --code-gutter-marker: black;
    --code-gutter-subtle: #999;
    --code-cursor: #24292e;
    --code-cursor-block: rgba(20, 255, 20, 0.5);
    --code-linenumbers: rgba(27, 31, 35, 0.3);
  }

  /* dark theme colors */
  .sea-green.dark {
    --primary-950: 138, 76%, 98%;
    --primary-900: 141, 84%, 93%;
    --primary-800: 141, 79%, 85%;
    --primary-700: 142, 77%, 73%;
    --primary-600: 142, 69%, 58%;
    --primary-500: 142, 71%, 45%;
    --primary-400: 142, 76%, 36%;
    --primary-300: 142, 72%, 29%;
    --primary-200: 143, 64%, 24%;
    --primary-100: 144, 61%, 20%;
    --primary-50: 145, 80%, 10%;

    --secondary-950: 214, 100%, 97%;
    --secondary-900: 214, 95%, 93%;
    --secondary-800: 213, 97%, 87%;
    --secondary-700: 212, 96%, 78%;
    --secondary-600: 213, 94%, 68%;
    --secondary-500: 217, 91%, 60%;
    --secondary-400: 221, 83%, 53%;
    --secondary-300: 224, 76%, 48%;
    --secondary-300: 226, 71%, 40%;
    --secondary-100: 224, 64%, 33%;
    --secondary-50: 226, 57%, 21%;

    --accent-950: 327, 73%, 97%;
    --accent-900: 326, 78%, 95%;
    --accent-800: 326, 85%, 90%;
    --accent-700: 327, 87%, 82%;
    --accent-600: 329, 86%, 70%;
    --accent-500: 330, 81%, 60%;
    --accent-400: 333, 71%, 51%;
    --accent-300: 335, 78%, 42%;
    --accent-200: 336, 74%, 35%;
    --accent-100: 336, 69%, 30%;
    --accent-50: 336, 84%, 17%;

    --neutral-950: 210, 40%, 98%;
    --neutral-900: 210, 40%, 96%;
    --neutral-800: 214, 32%, 91%;
    --neutral-700: 213, 27%, 84%;
    --neutral-600: 215, 20%, 65%;
    --neutral-500: 215, 16%, 47%;
    --neutral-400: 215, 19%, 35%;
    --neutral-300: 215, 25%, 27%;
    --neutral-200: 217, 33%, 17%;
    --neutral-100: 222, 47%, 11%;
    --neutral-50: 229, 84%, 5%;
    --neutral-zebra: 225, 60%, 8%;

    --text-black: 210, 40%, 100%;
    --text-white: 217, 33%, 20%;

    /* dark theme syntax colors */
    --code-bg: #282c34;
    --code-fill: #282c34;
    --code-normal: #e06c75; /*#ABB2BF;*/
    --code-string: #98c379;
    --code-number: #d19a66;
    --code-atrule: #61afef;
    --code-keyword: #c678dd;
    --code-comment: #5c6370;
    --code-property: #d19a66;
    --code-selector: #e06c75;
    --code-operator: #56b6c2;
    --code-function: #61afef;
  }

  @media (prefers-color-scheme: light) {
    body.sea-green:not(.dark) {
      --primary-50: 138, 76%, 98%;
    --primary-100: 141, 84%, 93%;
    --primary-200: 141, 79%, 85%;
    --primary-300: 142, 77%, 73%;
    --primary-400: 142, 69%, 58%;
    --primary-500: 142, 71%, 45%;
    --primary-600: 142, 76%, 36%;
    --primary-700: 142, 72%, 29%;
    --primary-800: 143, 64%, 24%;
    --primary-900: 144, 61%, 20%;
    --primary-950: 145, 80%, 10%;

    --secondary-50: 214, 100%, 97%;
    --secondary-100: 214, 95%, 93%;
    --secondary-200: 213, 97%, 87%;
    --secondary-300: 212, 96%, 78%;
    --secondary-400: 213, 94%, 68%;
    --secondary-500: 217, 91%, 60%;
    --secondary-600: 221, 83%, 53%;
    --secondary-700: 224, 76%, 48%;
    --secondary-800: 226, 71%, 40%;
    --secondary-900: 224, 64%, 33%;
    --secondary-950: 226, 57%, 21%;

    --accent-50: 327, 73%, 97%;
    --accent-100: 326, 78%, 95%;
    --accent-200: 326, 85%, 90%;
    --accent-300: 327, 87%, 82%;
    --accent-400: 329, 86%, 70%;
    --accent-500: 330, 81%, 60%;
    --accent-600: 333, 71%, 51%;
    --accent-700: 335, 78%, 42%;
    --accent-800: 336, 74%, 35%;
    --accent-900: 336, 69%, 30%;
    --accent-950: 336, 84%, 17%;

    --neutral-50: 210, 40%, 98%;
    --neutral-100: 210, 40%, 96%;
    --neutral-200: 214, 32%, 91%;
    --neutral-300: 213, 27%, 84%;
    --neutral-400: 215, 20%, 65%;
    --neutral-500: 215, 16%, 47%;
    --neutral-600: 215, 19%, 35%;
    --neutral-700: 215, 25%, 27%;
    --neutral-800: 217, 33%, 17%;
    --neutral-900: 222, 47%, 11%;
    --neutral-950: 229, 84%, 5%;
    --neutral-zebra: 210, 40%, 97%;

    --text-white: 210, 40%, 100%;
    --text-black: 217, 33%, 20%;

      /* light theme syntax colors */
      --tab-size: 2;
      --code-bg: #f3f4f6;
      --code-fill: #f3f4f6;
      --code-normal: #333333; /*hsl(45, 7%, 45%)*/
      --code-string: hsl(41, 37%, 45%); /*#183691 */
      --code-number: hsl(102, 27%, 50%); /* #0086b3;*/
      --code-atrule: var(--code-string);
      --code-keyword: hsl(204, 58%, 45%); /* #795da3;*/
      --code-comment: #969896; /*hsl(210, 25%, 60%)*/
      --code-property: #63a35c;
      --code-selector: var(--code-keyword);
      --code-operator: hsl(19, 67%, 45%);
      --code-function: hsl(19, 67%, 45%); /* #a71d5d; */

      --code-gutter-marker: black;
      --code-gutter-subtle: #999;
      --code-cursor: #24292e;
      --code-cursor-block: rgba(20, 255, 20, 0.5);
      --code-linenumbers: rgba(27, 31, 35, 0.3);
    }
  }

  @media (prefers-color-scheme: dark) {
    body.sea-green:not(.light) {
      --primary-950: 138, 76%, 98%;
    --primary-900: 141, 84%, 93%;
    --primary-800: 141, 79%, 85%;
    --primary-700: 142, 77%, 73%;
    --primary-600: 142, 69%, 58%;
    --primary-500: 142, 71%, 45%;
    --primary-400: 142, 76%, 36%;
    --primary-300: 142, 72%, 29%;
    --primary-200: 143, 64%, 24%;
    --primary-100: 144, 61%, 20%;
    --primary-50: 145, 80%, 10%;

    --secondary-950: 214, 100%, 97%;
    --secondary-900: 214, 95%, 93%;
    --secondary-800: 213, 97%, 87%;
    --secondary-700: 212, 96%, 78%;
    --secondary-600: 213, 94%, 68%;
    --secondary-500: 217, 91%, 60%;
    --secondary-400: 221, 83%, 53%;
    --secondary-300: 224, 76%, 48%;
    --secondary-300: 226, 71%, 40%;
    --secondary-100: 224, 64%, 33%;
    --secondary-50: 226, 57%, 21%;

    --accent-950: 327, 73%, 97%;
    --accent-900: 326, 78%, 95%;
    --accent-800: 326, 85%, 90%;
    --accent-700: 327, 87%, 82%;
    --accent-600: 329, 86%, 70%;
    --accent-500: 330, 81%, 60%;
    --accent-400: 333, 71%, 51%;
    --accent-300: 335, 78%, 42%;
    --accent-200: 336, 74%, 35%;
    --accent-100: 336, 69%, 30%;
    --accent-50: 336, 84%, 17%;

    --neutral-950: 210, 40%, 98%;
    --neutral-900: 210, 40%, 96%;
    --neutral-800: 214, 32%, 91%;
    --neutral-700: 213, 27%, 84%;
    --neutral-600: 215, 20%, 65%;
    --neutral-500: 215, 16%, 47%;
    --neutral-400: 215, 19%, 35%;
    --neutral-300: 215, 25%, 27%;
    --neutral-200: 217, 33%, 17%;
    --neutral-100: 222, 47%, 11%;
    --neutral-50: 229, 84%, 5%;
    --neutral-zebra: 225, 60%, 8%;

    --text-black: 210, 40%, 100%;
    --text-white: 217, 33%, 20%;

      /* one dark theme syntax colors */
      --code-bg: #282c34;
      --code-fill: #282c34;
      --code-normal: #e06c75; /*#ABB2BF;*/
      --code-string: #98c379;
      --code-number: #d19a66;
      --code-atrule: #61afef;
      --code-keyword: #c678dd;
      --code-comment: #5c6370;
      --code-property: #d19a66;
      --code-selector: #e06c75;
      --code-operator: #56b6c2;
      --code-function: #61afef;
    }
  }
}
