@layer base {
	.light {
		--success-50: 138, 76%, 98%;
    --success-100: 141, 84%, 93%;
    --success-200: 141, 79%, 85%;
    --success-300: 142, 77%, 73%;
    --success-400: 142, 69%, 58%;
    --success-500: 142, 71%, 45%;
    --success-600: 142, 76%, 36%;
    --success-700: 142, 72%, 29%;
    --success-800: 143, 64%, 24%;
    --success-900: 144, 61%, 20%;
    --success-950: 145, 80%, 10%;

		--error-50: 138, 76%, 98%;
    --error-100: 141, 84%, 93%;
    --error-200: 141, 79%, 85%;
    --error-300: 142, 77%, 73%;
    --error-400: 142, 69%, 58%;
    --error-500: 142, 71%, 45%;
    --error-600: 142, 76%, 36%;
    --error-700: 142, 72%, 29%;
    --error-800: 143, 64%, 24%;
    --error-900: 144, 61%, 20%;
    --error-950: 145, 80%, 10%;
	}
}