/**
 * Chart - Glass Theme Styles
 */

[data-style='glass'] [data-chart-axis-line],
[data-style='glass'] [data-chart-tick] line {
  @apply stroke-surface-z3;
}

[data-style='glass'] [data-chart-tick-label] {
  @apply fill-surface-z5;
}

[data-style='glass'] [data-chart-grid-line] {
  @apply stroke-surface-z3;
  stroke-opacity: 0.5;
  stroke-dasharray: 2 4;
}

[data-style='glass'] [data-chart-legend-label] {
  @apply fill-surface-z5;
}

[data-style='glass'] [data-chart-legend-item]:hover {
  @apply text-surface-z8;
}

[data-style='glass'] [data-chart-bar][data-dimmed],
[data-style='glass'] [data-chart-point][data-dimmed],
[data-style='glass'] [data-chart-arc][data-dimmed],
[data-style='glass'] [data-chart-line][data-dimmed],
[data-style='glass'] [data-chart-area][data-dimmed] {
  opacity: 0.15;
}
