/**
 * SearchFilter - Grada UI Theme Styles
 */

[data-style='grada-ui'] [data-search-input] {
  @apply text-surface-z8 border-surface-z4 border bg-white;
  border-radius: 3px;
}

[data-style='grada-ui'] [data-search-input]:focus {
  border-color: rgba(var(--color-primary-500), 1);
  outline: none;
}

[data-style='grada-ui'] [data-search-input]::placeholder {
  color: rgba(var(--color-surface-z500), 1);
}

[data-style='grada-ui'] [data-search-clear] {
  @apply text-surface-z5;
}

[data-style='grada-ui'] [data-search-clear]:hover {
  @apply text-surface-z8 bg-surface-z1;
  border-radius: 3px;
}

[data-style='grada-ui'] [data-search-tag] {
  background-image: linear-gradient(
    to right,
    rgba(var(--color-primary-500), 1),
    rgba(var(--color-secondary-500), 1)
  );
  background-color: transparent;
  color: white;
  border-radius: 20px;
}

[data-style='grada-ui'] [data-search-tag-remove] {
  color: rgba(255, 255, 255, 0.8);
  border-radius: 50%;
}

[data-style='grada-ui'] [data-search-tag-remove]:hover {
  color: white;
  background: rgba(255, 255, 255, 0.2);
}
