/**
 * Timeline - Grada UI Theme Styles
 */

[data-style='grada-ui'] [data-timeline-circle] {
  @apply border-surface-z4 text-surface-z6;
}

[data-style='grada-ui'] [data-timeline-item][data-completed] [data-timeline-circle] {
  background-image: linear-gradient(
    to right,
    rgba(var(--color-primary-500), 1),
    rgba(var(--color-secondary-500), 1)
  );
  background-color: transparent;
  border-color: rgba(var(--color-primary-500), 1);
  color: white;
  @apply shadow-sm;
}

[data-style='grada-ui'] [data-timeline-item][data-active] [data-timeline-circle] {
  border-color: rgba(var(--color-primary-500), 1);
  color: rgba(var(--color-primary-500), 1);
  box-shadow: 0 0 0 3px rgba(var(--color-primary-500), 0.25);
}

[data-style='grada-ui'] [data-timeline-connector] {
  @apply bg-surface-z3;
}

[data-style='grada-ui'] [data-timeline-item][data-completed] [data-timeline-connector] {
  background-image: linear-gradient(
    to right,
    rgba(var(--color-primary-500), 1),
    rgba(var(--color-secondary-500), 1)
  );
  background-color: transparent;
}

[data-style='grada-ui'] [data-timeline-title] {
  @apply text-surface-z8;
}

[data-style='grada-ui'] [data-timeline-description] {
  @apply text-surface-z6;
}
