/* TableOfContents — Grada UI theme */

[data-style='grada-ui'] [data-toc] [data-toc-label] {
  @apply text-surface-z6;
  font-family: 'Montserrat', sans-serif;
  font-size: 0.625rem;
  text-transform: uppercase;
  letter-spacing: 0.06em;
  font-weight: 700;
}

[data-style='grada-ui'] [data-toc] [data-toc-item] {
  @apply text-surface-z7;
}

[data-style='grada-ui'] [data-toc] [data-toc-item]:hover,
[data-style='grada-ui'] [data-toc] [data-toc-item][data-toc-focused] {
  @apply text-surface-z10 bg-surface-z1 outline-none;
}

[data-style='grada-ui'] [data-toc] [data-toc-item][data-toc-active] {
  color: rgba(var(--color-primary-500), 1);
  border-left-color: rgba(var(--color-primary-500), 1);
}
