.DS_Store
node_modules
dist
coverage
*.log
.temp
.cache
*.code-workspace
.turbo
.eslintcache
lcov.info*
.idea
build
playwright-report
discard
packages/vector
.vercel
.svelte-kit
favicon_io
vitest*timestamp*
codeql-agent-results
*.zip
pdf
.env