/* [data-input-select] {
  @apply relative flex;
} */
[data-input-select] > select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  @apply w-full pr-2;
}
[data-form-root],
[data-form-field] {
  @apply flex flex-col gap-2;
}

[data-form-field] [data-field-label] {
  @apply flex flex-col gap-2;
}
[data-form-field] [data-field-label] > span {
  @aplly leading-loose w-full;
}

[data-input-root] {
  @apply flex flex-col items-center gap-2 p-0;
}
:not([data-field-type='checkbox']) > [data-field] > [data-input-root] {
  @apply flex-1;
}
[data-field-type='checkbox'] > [data-field] > [data-input-root] {
  @apply flex-0 flex-row;
}

[data-field-root] {
  @apply flex flex-col gap-2;
}
[data-field-root] > [data-field] {
  @apply flex flex-1 flex-row items-center gap-2;
}
/* [data-field-type='checkbox'] > [data-field] {
  @apply flex-row items-center gap-2;
} */

[data-field] label {
  @apply flex flex-1;
}

[data-input-select] {
  @apply relative inline-block w-full;
}
[data-input-select] select {
  @apply flex flex-1;
}
[data-input-select] > span {
  @apply pointer-events-none absolute bottom-0 right-2 top-0 flex items-center;
}

[data-description] {
  @apply text-xs text-neutral-500;
}
/* [data-input-select] > span {
  @apply pointer-events-none absolute bottom-0 right-2 top-0 flex items-center;
} */

[data-input-root] input:not([type='checkbox']) {
  @apply bg-neutral-z1 border-neutral-z4 m-0 w-full rounded-md border px-3 py-1 leading-loose;
}

[data-form-root] {
  @apply bg-neutral-z3 rounded-md p-6;
}
