.shiki-container .shiki {
  background: transparent !important;
  font-family: 'Victor Mono', 'Fira Code', 'Monaco', 'Cascadia Code', 'Roboto Mono', monospace;
  font-size: 0.875rem;
  line-height: 1.5;
}

.shiki-container pre {
  margin: 0;
  padding: 0;
  background: transparent !important;
}

/* .shiki-container code {
  display: block;
  padding: 0;
  background: transparent !important;
} */

[data-tabs-root].no-padding [data-tabs-content] {
  @apply p-0;
}
[data-code-root] {
  @apply min-h-100 relative flex w-full overflow-hidden;
}
[data-code-root] > pre.shiki {
  @apply bg-neutral-z2 absolute inset-0 m-0 border-0;
}
[data-code-root] pre code {
  @apply w-full bg-transparent p-0;
}

/* pre.shiki.github-dark {
  @apply bg-neutral-z2 absolute inset-0 border-0;
} */
