.shiki-container .shiki {
  background: transparent !important;
  font-family: 'Victor Mono', 'Fira Code', 'Monaco', 'Cascadia Code', 'Roboto Mono', monospace;
  font-size: 0.875rem;
  line-height: 1.5;
}

.shiki-container pre {
  margin: 0;
  padding: 0;
  background: transparent !important;
}

/* .shiki-container code {
  display: block;
  padding: 0;
  background: transparent !important;
} */

[data-tabs-root].no-padding [data-tabs-content] {
  @apply p-0;
}
[data-code-root] {
  @apply max-h-100 bg-neutral-z2 relative flex h-fit w-full flex-col overflow-hidden rounded-md;
}
[data-code-root] > pre.shiki {
  @apply bg-neutral-z2 m-0 h-fit border-none focus:outline-none;
}
[data-code-root] pre code {
  @apply w-full bg-transparent p-0;
}
