{
  "tabWidth": 2,
  "useTabs": false,
  "singleQuote": true,
  "trailingComma": "none",
  "printWidth": 100,
  "plugins": ["prettier-plugin-svelte", "prettier-plugin-tailwindcss"],
  "semi": false,
  "overrides": [
    { "files": "*.svelte", "options": { "parser": "svelte", "useTabs": true } },
    { "files": ["*.js", "*.ts"], "options": { "useTabs": true } }
  ]
}
