/* progress animation */
@keyframes pendulum {
  from {
    left: -50%;
  }
  to {
    left: 100%;
  }
}

@keyframes shake {
  0% {
    transform: translateX(0);
  }
  25% {
    transform: translateX(1px);
  }
  50% {
    transform: translateX(-1px);
  }
  100% {
    transform: translateX(0);
  }
}

/* Button and focus animation */
@keyframes button-pop {
  0% {
    transform: scale(var(--btn-focus-scale, 0.95));
  }
  40% {
    transform: scale(1.02);
  }
  100% {
    transform: scale(1);
  }
}
