.four-col {
	@apply grid w-full h-full;
}
.four-col.md {
	@apply grid-cols-2;
	@apply grid-rows-2;
	grid-template-areas:
		'c-1 c-2'
		'c-3 c-4';
}

.four-col.md > .col-1 {
	grid-area: c-1;
}
.four-col.md > .col-2 {
	grid-area: c-2;
}
.four-col.md > .col-3 {
	grid-area: c-3;
}
.four-col.md > .col-4 {
	grid-area: c-4;
}
.four-col.lg {
	@apply grid-rows-4 grid-cols-1;
}