/**
 * Chart - Rokkit Theme Styles
 */

[data-style='rokkit'] [data-chart-axis-line],
[data-style='rokkit'] [data-chart-tick] line {
  @apply stroke-surface-z4;
}

[data-style='rokkit'] [data-chart-tick-label] {
  @apply fill-surface-z6;
}

[data-style='rokkit'] [data-chart-grid-line] {
  @apply stroke-surface-z3;
  stroke-dasharray: 4 4;
  stroke-opacity: 0.5;
}

[data-style='rokkit'] [data-chart-legend-label] {
  @apply fill-surface-z6;
}

[data-style='rokkit'] [data-chart-legend-item]:hover {
  @apply text-surface-z9;
}

[data-style='rokkit'] [data-plot-element='bar'][data-dimmed],
[data-style='rokkit'] [data-plot-element='point'][data-dimmed],
[data-style='rokkit'] [data-plot-element='arc'][data-dimmed],
[data-style='rokkit'] [data-plot-element='line'][data-dimmed],
[data-style='rokkit'] [data-plot-element='area'][data-dimmed] {
  opacity: 0.15;
}

[data-style='rokkit'] [data-facet-title] {
  @apply text-surface-z6;
}
