input[type='number'] {
	@apply text-right;
}
input[type='number']::-webkit-inner-spin-button,
input[type='number']::-webkit-outer-spin-button {
	-webkit-appearance: none;
	margin: 0;
}

.searchable input {
	@apply border border-skin-subtle;
}

/* .rokkit input, */
.rokkit textarea,
.rokkit select,
.rokkit fieldset {
	@apply rounded leading-loose px-2 border border-skin-muted outline-none bg-skin-subtle text-skin-800;
}

.rokkit input-field field {
	@apply min-h-11;
}

.rokkit fieldset {
	@apply p-4 pt-2 gap-2 rounded-md;
}
.rokkit fieldset legend {
	@apply px-2 border-l border-r rounded-md leading-tight border-skin-muted hover:text-primary select-none;
}
/* .rokkit fieldset icon {
	@apply text-2xl;
} */

.rokkit input-field {
	@apply w-full m-0 p-0;
}
.rokkit input-field input {
	@apply border;
}
.rokkit input-field input,
.rokkit input-field textarea,
.rokkit input-field select {
	@apply flex-grow border-0 outline-none h-full;
}

.rokkit input-field field {
	@apply box-border border border-skin-muted rounded overflow-hidden;
	/* @apply focus-within:border-primary-400 focus-within:border-2; */
}
.rokkit input-field field:focus-within {
	@apply border-0 bg-gradient-to-r from-primary to-secondary px-2px py-2px;
}
.rokkit input-field span {
	@apply border-r border-skin-muted bg-skin-base px-1 h-full aspect-square;
}

.rokkit input-field label {
	@apply leading-loose w-full;
}
.rokkit input-field message {
	@apply px-2 py-1 bg-skin-base rounded;
}

.rokkit input-field.fail {
	@apply bg-error rounded px-2;
}

.rokkit input-range range-track {
	@apply h-2 mt-2 relative;
}
.rokkit input-range range-track span {
	@apply bg-skin-subtle border box-border border-skin-muted rounded-full;
}
.rokkit input-range range-track selected {
	@apply border top-0px bottom-0px bg-gradient-to-r from-primary to-secondary border-secondary rounded-full;
}
.rokkit input-range range-track thumb {
	@apply rounded-sm;
}

.rokkit input-range range-ticks {
	font-size: 6px;
	@apply bg-primary-100;
}

.rokkit .bookend range-track span::before,
.rokkit .bookend range-track span::after {
	content: '';
	@apply absolute w-1px rounded-full -top-2 -bottom-2 bg-gray-300;
}
.rokkit .bookend range-track span::before {
	@apply -left-1px;
}
.rokkit .bookend range-track span::after {
	@apply -right-2px;
}

.rokkit tick {
	@apply h-6;
}
.rokkit tick span {
	@apply border-skin-500 h-full;
}
.rokkit tick p {
	@apply items-top;
	font-size: 8px;
}

.rokkit thumb {
	@apply bg-gradient-to-r from-primary to-secondary border-secondary shadow-xl border;
}
.rokkit thumb.sliding::before {
	content: '';
	@apply absolute left-0 top-0 right-0 bottom-0 bg-secondary-500  opacity-30 rounded-sm;
	transform: scale(2, 2);
}

.rokkit button[role='switch'] {
	@apply rounded-full p-0 min-h-6 h-8 w-16;
	@apply bg-skin-subtle border border-skin-subtle;
}

.rokkit button[role='switch'] > mark {
	@apply rounded-full w-6 h-6 top-0.75;
	@apply bg-gradient-to-r from-primary to-secondary;
}

.rokkit rating {
	@apply text-skin-600 text-xl h-10 justify-center rounded focus:outline focus:outline-secondary;
}
.rokkit rating > icon {
	@apply w-8 ;
}
.rokkit rating:focus-within icon[aria-checked='true'] {
	@apply text-primary;
}

.rokkit rating icon.hovering > i {
	@apply text-secondary;
}
