.rokkit accordion {
	@apply flex-grow gap-1 overflow-y-scroll;
}
.rokkit accordion > div {
	@apply rounded shadow relative;
}

.rokkit list {
	@apply gap-1px bg-skin-subtle;
}

.rokkit list > item,
.rokkit accordion div summary {
	@apply leading-10 px-4 bg-skin-base text-skin-800 min-h-10;
}
.rokkit accordion > div > summary {
	@apply rounded pr-2 bg-gradient from-skin-subtle to-skin-muted;
}

.rokkit accordion > div > summary::-webkit-details-marker {
	display: none;
}

.rokkit list item icon {
	@apply text-secondary;
}
.rokkit item > img,
.rokkit item > a > img {
	@apply w-6 h-6;
}
.rokkit item > a {
	@apply gap-2;
}
.rokkit :not(accordion > div) > list {
	@apply rounded shadow border border-skin-400 overflow-y-scroll;
}
.rokkit :not(accordion > div) > list item {
	@apply last:rounded-b first:rounded-t;
}

.rokkit accordion list item {
	@apply last:rounded-b gap-2;
}
.rokkit accordion list item > a {
	@apply gap-2;
}
.rokkit accordion list {
	@apply rounded-b;
}

.rokkit accordion .is-expanded list {
	@apply -mt-10 pt-10 rounded-t;
}

.rokkit .zebra item {
	@apply even:bg-skin-zebra hover:bg-skin-50;
}

.rokkit nested-list {
	@apply text-skin-800;
}
.rokkit nested-list node {
	@apply px-2 h-8;
}
.rokkit node fragment {
	@apply px-1 gap-2;
}

.rokkit tree {
	@apply rounded;
}

.rokkit nested-list,
.rokkit nested-list:focus-within,
.rokkit tree:focus-within {
	@apply outline-none rounded;
}

.rokkit accordion,
.rokkit list {
	@apply rounded;
}

.rokkit accordion:focus-within list,
.rokkit drop-down:focus-within list,
.rokkit input-select:focus-within list {
	@apply outline-none focus:outline-none;
}

.rokkit list item.is-hovering,
.rokkit list item:hover,
.rokkit node:hover {
	@apply bg-skin-inset;
}

.rokkit list item.is-selected > a {
	@apply text-skin-50;
}

.rokkit list item.is-selected,
.rokkit node.is-selected {
	@apply bg-gradient-to-r from-skin-subtle to-skin-subtle text-skin-800;
}

.rokkit item.is-selected icon {
	@apply text-primary-50;
}

.rokkit accordion .is-expanded summary {
	@apply border-b border-skin-muted rounded-b-none sticky top-0 z-1;
}

.rokkit accordion .is-selected summary {
	@apply border-b-secondary-500 border-b text-secondary-600;
	@apply hover:text-primary-600;
}

.rokkit .folder-tree {
	@apply bg-skin-inset h-full;
}
.rokkit .folder-tree nested-list {
	@apply bg-skin-inset h-full;
}
.rokkit node > item {
	@apply px-1;
}
.rokkit node > span {
	@apply flex-shrink-0;
}
.rokkit node > span > i {
	@apply border-skin-muted;
}
.rokkit node > span > icon {
	@apply text-sm;
}

.rokkit crumbs {
	@apply flex-grow gap-1 text-sm;
}
.rokkit crumbs crumb.is-selected {
	@apply text-secondary;
}

.rokkit toggle {
	@apply min-w-16 min-h-8 rounded-full mx-auto;
	@apply bg-skin-subtle border border-skin-muted;
	@apply leading-loose p-2px;
}
.rokkit toggle item {
	@apply items-center justify-center px-3 gap-1;
	@apply min-w-8 min-h-8 rounded-full cursor-pointer;
}

.rokkit toggle item.is-selected {
	@apply bg-gradient-to-r from-skin-800 to-skin-800 text-skin-muted;
}

.rokkit toggle.compact > item {
	@apply px-0 gap-0;
}

.rokkit toggle:focus-within item.is-selected,
.rokkit
	list:focus-within
	item.is-selected
	.rokkit
	tree:focus-within
	node.is-selected,
.rokkit nested-list:focus-within node.is-selected {
	@apply bg-gradient-to-r from-primary-500 to-secondary text-skin-50;
	@apply hover:from-secondary-500 hover:to-primary-500 hover:text-skin-50;
}
