/* Styles for 'input-range' class */
.rokkit input-range range-track {
  @apply relative mt-2 h-2;
}
.rokkit input-range range-track range-track-bar {
  @apply bg-neutral-muted border-neutral-muted box-border rounded-full border;
}
.rokkit input-range range-track selected-bar {
  @apply top-0px bottom-0px from-primary to-secondary border-secondary rounded-full border bg-gradient-to-r;
}
.rokkit input-range range-track thumb {
  @apply rounded-sm focus:outline-none;
}
/* .rokkit input-range tick p {
  @apply text-neutral-800;
} */
.rokkit .bookend range-track range-track-bar::before,
.rokkit .bookend range-track range-track-bar::after {
  content: '';
  @apply w-1px absolute -bottom-2 -top-2 rounded-full bg-gray-300;
}
.rokkit .bookend range-track range-track-bar::before {
  @apply -left-1px;
}
.rokkit .bookend range-track range-track-bar::after {
  @apply -right-2px;
}

/* Styles for 'tick' class */
/* .rokkit tick {
  @apply h-6;
} */
.rokkit tick tick-bar {
  @apply border-neutral h-full;
}
.rokkit tick p {
  @apply items-top text-neutral-600;
  font-size: 8px;
}

/* Styles for 'thumb' class */
.rokkit thumb {
  @apply from-primary to-secondary border-secondary border bg-gradient-to-r shadow-xl;
}
.rokkit thumb.sliding::before {
  content: '';
  @apply bg-secondary absolute bottom-0 left-0 right-0 top-0 rounded-sm opacity-30;
  transform: scale(2, 2);
}

/* Styles for 'button[role='switch']' class */
.rokkit button[role='switch'] {
  @apply h-8 min-h-6 w-16 rounded-full p-0;
  @apply bg-neutral-subtle border-neutral-subtle border;
}
.rokkit button[role='switch'] > mark {
  @apply top-0.75 h-6 w-6 rounded-full;
  @apply from-primary to-secondary bg-gradient-to-r;
}

/* Styles for 'rating' class */
.rokkit rating {
  @apply focus:outline-secondary h-9 justify-center rounded text-xl text-neutral-600 focus:outline;
}
.rokkit rating > icon {
  @apply w-8;
}
.rokkit rating:focus-within icon[aria-checked='true'] {
  @apply text-primary;
}
.rokkit rating icon.hovering > i {
  @apply text-secondary;
}

/* Pill styles */
.rokkit .pill {
  @apply bg-neutral-inset border-neutral-subtle flex-grow-0 rounded-full border px-2 py-1;
}
.rokkit .pill > icon[role='button'] {
  @apply hover:bg-neutral-muted h-5 w-5 rounded-full hover:text-current focus:m-0 focus:rounded-full;
}

.rokkit .pill > item {
  @apply gap-2 px-2 leading-6;
}
.rokkit .pill > item > img {
  @apply h-4 w-4;
}

/* Styles for 'item' class */
.rokkit item {
  @apply flex flex-shrink items-center gap-1;
}
.rokkit item > p {
  @apply flex-shrink text-ellipsis;
}

/* Image and link styles */
.rokkit item > img,
.rokkit item > a > img {
  @apply h-6 w-6;
}
.rokkit item > a {
  @apply gap-2;
}
.rokkit node item {
  @apply gap-2 px-1;
}
/* Crumbs styles */
.rokkit crumbs {
  @apply flex-grow gap-1;
}
.rokkit crumbs crumb.is-selected {
  @apply text-secondary-700;
}

.rokkit day-of-month[aria-selected='true'] {
  @apply from-primary to-secondary bg-gradient-to-r text-neutral-200 dark:text-neutral-800;
}
