/* Custom range slider styling */
input[type='range']::-webkit-slider-thumb {
  appearance: none;
  height: 20px;
  width: 20px;
  border-radius: 50%;
  background: rgba(var(--primary-500));
  cursor: pointer;
}

input[type='range']::-moz-range-thumb {
  height: 20px;
  width: 20px;
  border-radius: 50%;
  background: rgba(var(--primary-500));
  cursor: pointer;
  border: none;
}

/* Autofill styles */
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  -webkit-text-fill-color: var(--neutral-200);
  transition: background-color 5000s ease-in-out 0s;
}

[data-toggle-root] {
  @apply flex;
}
button,
.button {
  @apply bg-neutral-muted min-h-10 min-w-10;
}
button [data-tag-icon],
.button [data-tag-icon] {
  @apply text-neutral-contrast hover:text-primary-elevated text-xl;
}
[data-style='rokkit'] button {
  @apply hover:text-secondary-elevated text-neutral-elevated rounded-md;
}
[data-style='rokkit'] button:focus {
  @apply from-primary to-secondary text-neutral-subtle bg-gradient-to-r outline-none;
}
[data-style='rokkit'] button:disabled {
  @apply text-neutral-subtle cursor-not-allowed;
}

[data-style='rokkit'] a.button {
  @apply decoration-none;
}

[data-style='rokkit'] .square {
  @apply flex min-h-10 min-w-10 items-center justify-center rounded-md;
}

[data-style='rokkit'] .button:focus-within {
  @apply ring-secondary-elevated ring-2;
}

select {
  @apply bg-neutral-muted text-neutral-contrast hover:text-primary-elevated flex min-h-10 min-w-10 rounded-md px-4;
}

button.is-primary,
.button.is-primary {
  @apply from-primary-raised to-secondary-raised text-neutral-overlay flex items-center rounded-full bg-gradient-to-r px-4;
}
