input,
textarea,
select,
fieldset {
	@apply rounded leading-loose px-2 border border-skin-300 outline-primary-400;
}

input-field.fail {
	@apply bg-error rounded px-2;
}

input-range {
	range-track {
		@apply h-2 mt-2 relative;

		span {
			@apply bg-skin-200 border box-border border-skin-300 rounded-full;
		}
		selected {
			@apply border -top-0px -bottom-0px border-primary-500 bg-primary-400 rounded-full;
		}
		thumb {
			@apply rounded-sm;
		}
	}
	range-ticks {
		font-size: 6px;
		@apply bg-primary-100;
	}

	&.bookend {
		range-track {
			span {
				&::before,
				&::after {
					content: '';
					@apply absolute w-1px rounded-full -top-2 -bottom-2 bg-gray-300;
				}
				&::before {
					@apply -left-1px;
				}
				&::after {
					@apply -right-2px;
				}
			}
		}
	}
}

tick {
	@apply h-6;
	span {
		@apply border-skin-500 h-full;
	}
	p {
		@apply items-top;
		font-size: 8px;
	}
}
thumb {
	@apply bg-primary-300  shadow-xl border border-primary-400;
}
thumb.sliding::before {
	content: '';
	@apply absolute left-0 top-0 right-0 bottom-0 bg-primary-500  opacity-30 rounded-sm;
	transform: scale(2, 2);
}

input-select {
	slide {
		@apply z-1 border border-red-500 h-33 top-8;
	}
}
