input,
textarea,
select,
fieldset {
	@apply rounded leading-loose px-2 border border-skin-300 outline-primary-400;
}

input-field.fail {
	@apply bg-error rounded px-2;
}

range-input {
	@apply border border-skin-300;
	range-track {
		@apply h-2 mt-1 relative;

		// edge {
		// 	@apply bg-skin-600 w-4px border -top-2 -bottom-2;
		// }
		// edge:first-of-type	 {
		// 	@apply -left-2px;
		// }
		// edge:last-of-type	 {
		// 	@apply -right-4px;
		// }
		span {
			@apply border bg-skin-200 border-skin-300 rounded-full;
		}
		selected {
			@apply border -top-0px -bottom-0px border-primary-500 bg-primary-400 rounded-full;
		}
		thumb {
			@apply rounded-sm mt-1px;
		}
	}
	range-ticks {
		font-size: 6px;
		@apply bg-primary-100;
	}
}
tick {
	font-size: 8px;
	@apply h-6;
	span {
		@apply border-skin-500 h-full;
	}
	p {
		@apply items-top;
	}
}
thumb {
	@apply bg-primary-400  shadow-xl border border-primary;
}
thumb.sliding::before {
	content: '';
	@apply absolute left-0 top-0 right-0 bottom-0 bg-primary-500  opacity-30 rounded-sm;
	transform: scale(2, 2);
}
