/* * {
	@apply focus:outline focus:outline-secondary focus:outline-2 focus:outline-offset-2;
} */

*[tabindex='-1'] {
	@apply outline-none focus:outline-none;
}

body {
	@apply flex flex-col w-screen overflow-hidden;
	height: var(--viewport-height, 100vh);
}

a {
	@apply text-primary hover:text-secondary visited:text-secondary-600;
}

code,
kbd,
samp,
pre {
	@apply font-mono font-medium;
}

icon {
	@apply min-h-6 h-content;
}
icon[role='button'] {
	@apply w-10 h-10 cursor-pointer aspect-square select-none focus:outline;
}
icon > i {
	@apply text-2xl leading-6 aspect-square text-current;
}
icon.large > i{
	@apply text-3xl;
}
icon.medium > i{
	@apply text-lg;
}
icon.small > i {
	@apply text-sm;
}

icon.large[role='button'] {
	@apply w-12 h-12;
}
icon.medium[role='button'] {
	@apply w-8 h-8;
}
icon.small[role='button'] {
	@apply w-6 h-6;
}

scroll {
	@apply flex flex-col overflow-y-scroll;
}

/* .sidebar {
	@apply w-160 h-full flex flex-col border-skin-400;
} */

square {
	@apply flex flex-col items-center justify-center h-full min-h-full aspect-square;
}

overlay {
	@apply bg-skin-inset bg-opacity-50;
}
alert-list {
	@apply top-4 right-4 w-80;
}

alert,
error,
info,
warning,
success {
	@apply px-4 py-2 border rounded select-none cursor-pointer;
}
alert.error {
	@apply bg-error text-error border-error;
}
alert.info,
info {
	@apply bg-info text-info border-info;
}
alert.warning,
warning {
	@apply bg-warn text-warn border-warn;
}
alert.success,
success {
	@apply bg-pass text-pass border-pass;
}

checkbox {
	@apply gap-2;
}

.disabled {
	@apply text-disabled;
}

.disabled input,
.disabled textarea,
.disabled select {
	@apply outline-disabled;
}

pre,
pre[class*='language-'],
:not(pre) > code,
:not(pre) > code[class*='language-'] {
	@apply font-mono;
	background-color: var(--code-fill);
}
pre,
pre[class*='language-'],
:not(pre) > code[class*='language-'] {
	@apply rounded-md p-4;
}

:not(pre) > code,
.prose p > code {
	@apply px-2 rounded-sm;
	background-color: var(--code-fill);
	/* color:  */
}

.prose {
	@apply max-w-full px-8 py-4;
}
.prose-sm {
	@apply px-4 py-2;
}
theme-mode {
	@apply rounded-full bg-skin-base text-skin-900 p-1;
}
