/* Global styles */
*:focus {
  @apply outline-secondary outline outline-2 outline-offset-2;
}
*[tabindex='-1']:focus {
  @apply outline-none;
}
* {
  @apply box-border;
}

/* Body styles */
body {
  @apply flex w-screen flex-col overflow-hidden;
  /* height: var(--viewport-height, 100dvh); */
  height: 100vh;
  height: --webkit-fill-available;
  height: 100dvh;
  max-height: 100dvh;
}

/* Link styles */
a {
  @apply text-primary-800 hover:text-secondary-800 visited:text-secondary-700 cursor-pointer;
}
a:focus {
  @apply outline-none;
}
/* Code styles */
code,
kbd,
samp,
pre {
  @apply font-mono font-medium;
}

/* Disabled styles */
.disabled {
  @apply text-disabled;
}

input[disabled='true'],
textarea[disabled='true'],
select[disabled='true'] {
  @apply outline-disabled;
}

/* plots*/
rk-plot {
  @apply bg-neutral-inset rounded-md p-4;
}

g[aria-label='tip'] {
  --plot-background: rgb(var(--neutral-200));
}

rk-input-field input,
rk-input-field toggle-switch,
rk-drop-down {
  @apply focus:outline-none;
}

rk-alert,
rk-error,
rk-info,
rk-warning,
rk-success {
  @apply cursor-pointer rounded border px-4 py-2;
}

rk-checkbox {
  @apply gap-2;
}

button:disabled {
  @apply bg-neutral-muted cursor-not-allowed text-neutral-500;
}

rk-cell.cell-type-string {
  @apply text-left;
}
rk-cell.cell-type-integer rk-item p,
rk-cell.cell-type-number rk-item p {
  @apply text-right;
}

rk-cell rk-item {
  @apply flex w-full;
}

.dark ::-webkit-calendar-picker-indicator {
  filter: invert(1);
}

/* Autofill styles */
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  -webkit-text-fill-color: var(--neutral-200);
  transition: background-color 5000s ease-in-out 0s;
}
