accordion {
	@apply flex-grow gap-1 overflow-y-scroll;
}
accordion details {
	@apply rounded shadow relative;
}

list {
	@apply gap-1px bg-skin-200;
}

list item,
accordion summary {
	@apply leading-10 px-4 bg-skin-100 text-skin-900;
}
accordion summary {
	@apply rounded pr-2 bg-gradient from-skin-200 to-skin-300 border-b border-skin-300;
}
/* accordion summary {
  list-style-type: none;
} */
accordion summary::-webkit-details-marker {
  display: none;
}

list item icon {
	@apply text-secondary;
}

:not(accordion > details) > list {
	@apply rounded shadow border border-skin-400 overflow-y-scroll;
}
:not(accordion > details) > list item {
	@apply last:rounded-b first:rounded-t;
}

accordion list item {
	@apply last:rounded-b;
}
accordion list {
	@apply rounded-b;
}

accordion .is-expanded summary {
	@apply rounded-b-none  sticky top-0 z-1;
}

accordion .is-expanded list {
	@apply -mt-10 pt-10 rounded-t;
}

.zebra item {
	@apply even:bg-skin-zebra hover:bg-skin-50;
}

item.is-selected,
node.is-selected {
	@apply bg-gradient-to-r from-primary-500 to-secondary text-skin-50;
	@apply hover:from-secondary-500 hover:to-primary-500 hover:text-skin-50;
}
item.is-selected icon {
	@apply text-primary-50;
}

item.is-hovering,
item:hover {
	@apply bg-skin-50 text-skin-700;
}

item.is-hovering icon,
item:hover icon {
	@apply text-secondary-800;
}

nested-list {
	@apply bg-skin-200 text-skin-800;
}
nested-list node {
	@apply pl-2;
}
