/* Input range styles */
input-range range-track {
  @apply h-1 mt-3 relative;
}
input-range range-track span {
  @apply bg-skin-subtle border-skin-muted rounded-full;
}
input-range range-track selected {
  @apply top-0px bottom-0px;
}
input-range range-track thumb {
  @apply rounded-full;
}
input-range thumb {
  @apply -top-1.5 bg-secondary shadow-xl border border-secondary;
}
input-range thumb.sliding::before {
  content: '';
  @apply absolute left-0 top-0 right-0 bottom-0 bg-secondary-400 opacity-30 rounded-full;
  transform: scale(2, 2);
}

/* Bookend styles */
.bookend range-track span::before,
.bookend range-track span::after {
  content: '';
  @apply absolute w-1px rounded-full -top-2 -bottom-2 bg-gray-300;
}
.bookend range-track span::before {
  @apply -left-1px;
}
.bookend range-track span::after {
  @apply -right-2px;
}

/* Input range tick styles */
input-range tick {
  @apply h-6;
}
input-range tick span {
  @apply border-skin-500 h-full;
}
input-range tick p {
  @apply items-top;
  font-size: 8px;
}

/* Calendar styles */
calendar {
  @apply rounded-md overflow-hidden shadow-lg;
}
calendar month-year {
  @apply bg-secondary-400 text-white;
}
calendar cal-body days-of-week p,
calendar cal-body days-of-month p {
  @apply h-8 w-8 text-xs;
}
calendar cal-body days-of-week p.weekend,
calendar cal-body days-of-month p.weekend,
calendar cal-body days-of-month p.holiday {
  @apply text-primary-700;
}
calendar cal-body days-of-month {
  @apply gap-2px;
}
day-of-month {
  @apply hover:bg-secondary-200 hover:rounded-full;
}
day-of-month[aria-selected='true'] {
  @apply bg-secondary-500 text-white rounded-full;
}

/* Form styles */
form button[type='submit'] {
  @apply mt-4;
}
field-layout.vertical {
  @apply flex flex-col gap-2;
}
field-layout.horizontal {
  @apply flex flex-col gap-2 md:flex-row md:gap-4;
}
selected-item item {
  @apply flex-grow;
}
input-field {
  @apply w-full m-0 py-1;
}
input-field input,
input-field textarea,
input-field select,
input-field > field > :not(icon) {
  @apply px-3;
  @apply flex-grow outline-none min-h-10 leading-loose;
  @apply bg-skin-subtle text-skin-800;
}
input-field > label {
  @apply uppercase text-xs;
  @apply leading-loose;
}
input-field > label.required::after {
  content: ' *';
  @apply state-danger;
}

radio-group label {
  @apply uppercase cursor-pointer;
}
/* Progress bar styles */
progress-bar {
  @apply bg-skin-muted border border-skin-subtle;
}
progress-bar value-bar {
  @apply bg-primary;
}

.indeterminate value-bar {
  position: absolute;
  bottom: 0;
  top: 0;
  /* Move the bar infinitely */
  animation-duration: 2s;
  animation-iteration-count: infinite;
  animation-name: pendulum;
}
