/* Input range styles */
rk-input-range rk-range-track {
  @apply relative mt-3 h-1;
}
rk-input-range rk-range-track rk-range-track-bar {
  @apply bg-neutral-subtle border-neutral-muted rounded-full;
}
rk-input-range rk-range-track selected {
  @apply top-0px bottom-0px;
}
rk-input-range rk-range-track rk-thumb {
  @apply rounded-full;
}
rk-input-range rk-thumb {
  @apply bg-secondary border-secondary -top-1.5 border shadow-xl;
}
rk-input-range rk-thumb.sliding::before {
  content: '';
  @apply bg-secondary-400 absolute bottom-0 left-0 right-0 top-0 rounded-full opacity-30;
  transform: scale(2, 2);
}

/* Bookend styles */
.bookend rk-range-track rk-range-track-bar::before,
.bookend rk-range-track rk-range-track-bar::after {
  content: '';
  @apply w-1px absolute -bottom-2 -top-2 rounded-full bg-gray-300;
}
.bookend rk-range-track rk-range-track-bar::before {
  @apply -left-1px;
}
.bookend rk-range-track rk-range-track-bar::after {
  @apply -right-2px;
}

/* Input rk-range tick styles */
rk-input-range tick {
  grid-template-rows: 7px auto;
}
rk-input-range tick tick-bar {
  @apply h-full border-neutral-600;
}
rk-input-range tick p {
  @apply items-top leading-tight text-neutral-600;
  font-size: 8px;
}

/* Calendar styles */
calendar {
  @apply overflow-hidden rounded-md shadow-lg;
}
calendar month-year {
  @apply bg-secondary-400 text-white;
}
calendar cal-body days-of-week p,
calendar cal-body days-of-month p {
  @apply h-8 w-8 text-xs;
}
calendar cal-body days-of-week p.weekend,
calendar cal-body days-of-month p.weekend,
calendar cal-body days-of-month p.holiday {
  @apply text-primary-700;
}
calendar cal-body days-of-month {
  @apply gap-2px;
}
day-of-month {
  @apply hover:bg-secondary-200 hover:rounded-full;
}
day-of-month[aria-selected='true'] {
  @apply bg-secondary rounded-full text-white;
}

/* Form styles */
form {
  @apply flex flex-col gap-4;
}
field-layout.vertical {
  @apply flex flex-col gap-2;
}
field-layout.horizontal {
  @apply flex flex-col gap-2 md:flex-row md:gap-4;
}
selected-item rk-item {
  @apply flex-grow;
}
rk-input-field {
  @apply m-0 w-full py-1;
}
rk-input-field input,
rk-input-field textarea,
rk-input-field select,
rk-input-field > field > :not(icon) {
  @apply px-3;
  @apply min-h-9 flex-grow leading-loose outline-none;
  @apply bg-neutral-subtle text-neutral-800;
}
rk-input-field > label {
  @apply text-xs uppercase;
  @apply leading-loose;
}
rk-input-field > label.required::after {
  content: ' *';
  @apply state-danger;
}
