/* Progress bar styles */
rk-progress {
  @apply flex w-full;
}

rk-progress {
  @apply border border-neutral-100 bg-neutral-200 dark:border-neutral-800 dark:bg-neutral-900;
}
rk-progress value-bar {
  @apply bg-primary;
}

.indeterminate value-bar {
  position: absolute;
  bottom: 0;
  top: 0;
  /* Move the bar infinitely */
  animation-duration: 2s;
  animation-iteration-count: infinite;
  animation-name: pendulum;
}
