/**
 * Chart - Minimal Theme Styles
 */

[data-style='minimal'] [data-chart-axis-line],
[data-style='minimal'] [data-chart-tick] line {
  @apply stroke-surface-z3;
}

[data-style='minimal'] [data-chart-tick-label] {
  @apply fill-surface-z5;
}

[data-style='minimal'] [data-chart-grid-line] {
  @apply stroke-surface-z3;
  stroke-opacity: 0.5;
  stroke-dasharray: 2 4;
}

[data-style='minimal'] [data-chart-legend-label] {
  @apply fill-surface-z5;
}

[data-style='minimal'] [data-chart-legend-item]:hover {
  @apply text-surface-z8;
}

[data-style='minimal'] [data-plot-element='bar'][data-dimmed],
[data-style='minimal'] [data-plot-element='point'][data-dimmed],
[data-style='minimal'] [data-plot-element='arc'][data-dimmed],
[data-style='minimal'] [data-plot-element='line'][data-dimmed],
[data-style='minimal'] [data-plot-element='area'][data-dimmed] {
  opacity: 0.15;
}

[data-style='minimal'] [data-facet-title] {
  @apply text-surface-z5;
}
