button {
	@apply rounded leading-loose w-full select-none;
	@apply bg-skin-300 border border-skin-300 outline-primary-400;
}
button icon-left,
button icon-right {
	@apply flex flex-col items-center justify-center h-10 aspect-square;
}
button icon {
	@apply text-2xl;
}

button p {
	@apply px-2 flex flex-grow;
}

calendar {
	@apply rounded-md overflow-hidden shadow-lg;
}
calendar month-year {
	@apply bg-secondary-400 text-white;
}
calendar cal-body days-of-week p,
calendar cal-body days-of-month p {
	@apply h-8 w-8 text-xs;
}
calendar cal-body days-of-week p.weekend,
calendar cal-body days-of-month p.weekend,
calendar cal-body days-of-month p.holiday {
	@apply text-primary-700;
}

calendar cal-body days-of-month {
	@apply gap-2px;
}
days-of-month p {
	@apply hover:bg-secondary-200 hover:rounded-full;
}
days-of-month p.active {
	@apply bg-secondary-500 text-white rounded-full;
}

button-group {
	@apply rounded-sm overflow-clip shadow;
	button {
		@apply border-skin-400 border-none rounded-none;
		@apply bg-skin-200;
		@apply uppercase text-sm text-skin-800 leading-8;
	}
	button:not(:last-child) {
		@apply border-r;
	}
	button.active {
		@apply bg-secondary text-white;
	}

	button:first-child {
		@apply rounded-l-sm;
	}
	button:last-child {
		@apply rounded-r-sm;
	}
}
