.minimal input,
.minimal textarea,
.minimal select,
.minimal fieldset {
	@apply rounded leading-loose px-2 border border-skin-300 outline-none;
}

.minimal fieldset {
	@apply p-4 pt-2 gap-2 rounded-md;
}
.minimal fieldset legend {
	@apply px-2 border-l border-r rounded-md leading-tight border-skin-300 hover:text-primary select-none;
}
.minimal fieldset icon {
	@apply text-2xl;
}

.minimal input-field {
	@apply w-full m-0 p-0;
}
.minimal input-field input {
	@apply border;
}
.minimal input-field field {
	@apply box-border border h-10 rounded overflow-hidden;
	@apply focus-within:border-primary-400 focus-within:border-2;
}
.minimal input-field span {
	@apply border-r border-skin-300 bg-skin-100 px-1 h-full aspect-square;
}
.minimal input-field input,
.minimal input-field textarea,
.minimal input-field select {
	@apply flex-grow border-0 outline-none;
}

.minimal input-field label {
	@apply leading-loose w-full;
}
.minimal input-field message {
	@apply px-2 py-1 bg-skin-100 rounded;
}

.minimal input-field.fail {
	@apply bg-error rounded px-2;
}

.minimal input-range range-track {
	@apply h-2 mt-2 relative;
}
.minimal input-range range-track span {
	@apply bg-skin-200 border box-border border-skin-300 rounded-full;
}
.minimal input-range range-track selected {
	@apply border -top-0px -bottom-0px border-primary-500 bg-primary-400 rounded-full;
}
.minimal input-range range-track thumb {
	@apply rounded-sm;
}

.minimal input-range range-ticks {
	font-size: 6px;
	@apply bg-primary-100;
}

.minimal .bookend range-track span::before,
.minimal .bookend range-track span::after {
	content: '';
	@apply absolute w-1px rounded-full -top-2 -bottom-2 bg-gray-300;
}
.minimal .bookend range-track span::before {
	@apply -left-1px;
}
.minimal .bookend range-track span::after {
	@apply -right-2px;
}

.minimal tick {
	@apply h-6;
}
.minimal tick span {
	@apply border-skin-500 h-full;
}
.minimal tick p {
	@apply items-top;
	font-size: 8px;
}

.minimal thumb {
	@apply bg-primary-300  shadow-xl border border-primary-400;
}
.minimal thumb.sliding::before {
	content: '';
	@apply absolute left-0 top-0 right-0 bottom-0 bg-primary-500  opacity-30 rounded-sm;
	transform: scale(2, 2);
}

/* .error,
.fail {
	input,
	textarea,
	select {
		@apply text-error border-error bg-error;
	}
	message {
		@apply text-error bg-error rounded-md;
	}
}
.info {
	input,
	textarea,
	select {
		@apply text-info border-info;
	}
	message {
		@apply text-info bg-info rounded-md;
	}
}
.warn {
	input,
	textarea,
	select {
		@apply text-warn border-warn bg-warn;
	}
	message {
		@apply text-warn bg-warn rounded-md;
	}
}
.pass {
	input,
	textarea,
	select {
		@apply text-pass border-pass bg-pass;
	}
	message {
		@apply text-pass bg-pass rounded-md;
	}
} */
