input,
textarea,
select,
fieldset {
	@apply rounded leading-loose px-2 border border-skin-300 outline-primary-400;
}

input-field {
	@apply w-full m-0 p-0 gap-1;
	label {
		@apply leading-loose w-full;
		field {
			@apply border rounded border-skin-300 overflow-hidden;
			@apply focus-within:outline focus-within:outline-primary-400 focus-within:border-primary-400;

			span {
				@apply border-r border-skin-300 bg-skin-100;
			}
			input {
				@apply flex-grow border-0 outline-0;
			}
		}
	}
	message {
		@apply px-2 py-1 bg-skin-100 rounded;
	}
}
// input-field.fail {
// 	@apply bg-error rounded px-2;
// }

input-range {
	range-track {
		@apply h-2 mt-2 relative;

		span {
			@apply bg-skin-200 border box-border border-skin-300 rounded-full;
		}
		selected {
			@apply border -top-0px -bottom-0px border-primary-500 bg-primary-400 rounded-full;
		}
		thumb {
			@apply rounded-sm;
		}
	}
	range-ticks {
		font-size: 6px;
		@apply bg-primary-100;
	}

	&.bookend {
		range-track {
			span {
				&::before,
				&::after {
					content: '';
					@apply absolute w-1px rounded-full -top-2 -bottom-2 bg-gray-300;
				}
				&::before {
					@apply -left-1px;
				}
				&::after {
					@apply -right-2px;
				}
			}
		}
	}
}

tick {
	@apply h-6;
	span {
		@apply border-skin-500 h-full;
	}
	p {
		@apply items-top;
		font-size: 8px;
	}
}
thumb {
	@apply bg-primary-300  shadow-xl border border-primary-400;
}
thumb.sliding::before {
	content: '';
	@apply absolute left-0 top-0 right-0 bottom-0 bg-primary-500  opacity-30 rounded-sm;
	transform: scale(2, 2);
}

.error,
.fail {
	input,
	textarea,
	select {
		@apply text-error border-error bg-error;
	}
	message {
		@apply text-error bg-error rounded-md;
	}
}
.info {
	input,
	textarea,
	select {
		@apply text-info border-info;
	}
	message {
		@apply text-info bg-info rounded-md;
	}
}
.warn {
	input,
	textarea,
	select {
		@apply text-warn border-warn bg-warn;
	}
	message {
		@apply text-warn bg-warn rounded-md;
	}
}
.pass {
	input,
	textarea,
	select {
		@apply text-pass border-pass bg-pass;
	}
	message {
		@apply text-pass bg-pass rounded-md;
	}
}
