---
title: Introduction
---

# {title}

A tree is an extension of a [NestedList](/nestedlist) with a single root node. If items array has more than one item,
a default root item will be added.

## Basic Usage

Here we supplied the same data, that was given to the nested list.


Notice the detault `root` item that has been added.


